<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('MealFlash Recipes By Ingredient', 'none')" />

<body>
<div class="container-fluid text-center">
    <div th:replace="fragments :: navbar">Navigation Menu</div>
    <div class="h1 text-center my-4">Recipes with <span class="text-muted bg-light fw-bold p-1">#[[${ingredient.name}]]</span> ([[${#lists.size(recipes)}]])</div>
    <div class="h6 text-center my-2" th:if="${#lists.isEmpty(recipes)}">
        <h3>There are no recipes with this ingredient.</h3>
    </div>
    <div th:replace="fragments :: recipes">MealFlash Recipes By Ingredient</div>
</div>

</body>
</html>