<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Recipe', 'none')" />

<body>
<div class="container-fluid">
<div th:replace="fragments :: navbar">Navigation Menu</div>
<!--<div id="addToShoppingListMessage" class="alert"></div>-->
<!--<div class="mx-auto my-0" style="max-width: 1000px;">-->
    <div class="card rounded shadow mx-auto my-2 py-1 justify-content-center align-items-center" style="min-width: 450px; max-width: 1000px;">
        <div class="row" style="width: 100%;">
            <div class="col-md-3 col-sm-11 col-xs-10 my-2 me-lg-2">
                <img th:src="@{${recipe.imagePath}}" style="width: 100%; max-height: 17rem; object-fit: cover;" alt="Recipe image"/>
            </div>
            <div class="col-md-8 col-sm-11 col-xs-10 mb-3 py-1 px-xs-1 pt-sm-1">
                <div class="mb-2 d-flex flex-row justify-content-start">
                    <a th:href="@{'/recipes/into-shopping-list/' + ${recipe.id}}"
                       th:recipeID="${recipe.id}"
                       th:recipeTitle="${recipe.title}"
                       class="addToShoppingListBtn btn btn-light text-warning btn-sm rounded-circle shadow-sm me-1"
                       data-toggle="tooltip" data-placement="top" title="Add to shopping list">
                        <i class="fas fa-calendar-plus"></i>
                    </a>
                    <a th:href="@{'/recipes/out-of-shopping-list/' + ${recipe.id}}"
                       class="btn btn-light text-secondary btn-sm rounded-circle shadow-sm me-1"
                       data-toggle="tooltip" data-placement="top" title="Remove from shopping list">
                        <i class="fas fa-calendar-times"></i>
                    </a>
                    <a
                            th:if="${#strings.toString(#authentication.name)} eq ${#strings.toString(creator.username)}"
                            th:href="@{'/recipes/edit/' + ${recipe.id}}"
                            class="btn btn-light text-success btn-sm rounded-circle shadow-sm me-1"
                            data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a
                            th:if="${#strings.toString(#authentication.name)} eq ${#strings.toString(creator.username)}"
                            th:href="@{'/recipes/delete/' + ${recipe.id}}"
                            class="btn btn-light text-danger btn-sm rounded-circle shadow-sm"
                            data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
                <a th:href="@{'/recipe-' + ${recipe.id}}"
                   class="h4 recipe-title">
                    <b>[[${recipe.title}]]</b>
                </a>
                <a class="nav-link link-secondary fw-bold"
                   th:href="@{'/recipes/creator/' + ${recipe.creator}}">
                    @ [[${recipe.creator}]]
                </a>
                <div class="mb-2">
                    <ul class="nav flex-row justify-content-start my-2" >
                        <li class="nav-item d-flex flex-row m-1" th:each="category, categoryStat : ${recipe.categories}">
                            <a class="d-inline-block nav-link link-secondary fw-bold bg-light shadow-sm p-1"
                               th:href="@{'/recipes/category/' + ${category.id}}">
                                #[[${category}]]
                            </a>
                        </li>
                    </ul>
                    <p class="card-text mb-2"><i class="fas fa-clock"></i> [[${recipe.time}]] [[${recipe.timeUnit}]]</p>
                    <h4 class="my-2 text-muted">Ingredients</h4>
                    <table class="table recipe-table" style="text-align: left">
                        <tbody>
                        <tr th:each="ingredient : ${recipe.ingredients}" style="border-color: white;">
                            <td >[[${ingredient.name}+': ']]</td>
                            <td>[[${ingredient.amount}]]</td>
                            <td>[[${ingredient.amountUnit}]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <h4 class="my-2 text-muted">Instructions</h4>
                    <p class="card-text mt-2 me-1">[[${recipe.instructions}]]</p>
                </div>

<!--            </div>-->
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
            var csrfHeaderName = "[[${_csrf.headerName}]]";
            var csrfValue = "[[${_csrf.token}]]";
</script>
<script th:src="@{/js/addToShoppingList.js}"></script>
</body>
</html>