<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('MealFlash User\'s Shopping List', 'none')" />

<body>
<div class="container-fluid">
    <div th:replace="fragments :: navbar">Navigation Menu</div>
    <div class="h1 text-center my-4">My Shopping List</div>
    <div th:if="${addToShoppingListMessage}" th:text="${addToShoppingListMessage}" th:class="${'alert ' + alertClass}"/>
    <div th:if="${successMessage}" th:text="${successMessage}" th:class="${'alert ' + alertClass}"/>
    <div th:if="${errorMessage}" th:text="${errorMessage}" th:class="${'alert ' + alertClass}"/>
<!--    <div class="card shadow" style="max-width: 90%;">-->
<!--    <div class="row m-1">-->
    <div class="mx-auto my-0" style="max-width: 1000px;">
        <div class="card rounded shadow m-2 p-1" style="min-width: 480px; max-width: 100%;" th:each="item: ${shoppingListItems}">
            <div class="row rounded p-3" th:with="recipe = ${item.recipe}">
                <div class="col-md-4 col-sm-12 mb-2 d-flex flex-row justify-content-start">
                    <div class="col-2" style="max-width: 50px;">
                        <a th:href="@{'/recipes/out-of-shopping-list/' + ${recipe.id}}"
                           class="btn btn-light text-secondary btn-sm rounded-circle shadow-sm"
                           data-toggle="tooltip" data-placement="top" title="Remove from shopping list">
                            <i class="fas fa-calendar-times"></i>
                        </a>
                    </div>
                    <div class="col-10 me-lg-4">
                        <img th:src="@{${recipe.imagePath}}" style="width: 250px; max-height: 17rem; object-fit: cover;"/>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-md-auto px-5 pt-sm-1">
                    <a th:href="@{'/recipe-' + ${recipe.id}}"
                       class="h4 recipe-title">
                        <b>[[${recipe.title}]]</b>
                    </a>
                    <div>
                        <table class="table" style="text-align: left">
                            <thead>
                                <th></th>
                                <th>Per serving</th>
                                <th>Total</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr th:each="ingredient, ingredientStat : ${recipe.ingredients}" style="border-color: white;">
                                    <td>[[${ingredient.name}+': ']]</td>
                                    <td>[[${ingredient.amount}]]</td>
                                    <td th:id="'subtotal' + ${recipe.id} + '_' + ${ingredientStat.index}">[[${item.ingredientSubtotals[__${ingredientStat.index}__]}]]</td>
                                    <td>[[${ingredient.amountUnit}]]</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:replace="quantity-control :: quantity-control(${item.servings},${item.recipe.id})">
                        Servings
                    </div>
<!--                    <div id="addToShoppingListMessage" class="alert p-0 m-0"></div>-->
                </div>
            </div>
        </div>
    </div>
<!--    </div>-->
    <div th:if="${#lists.isEmpty(shoppingListItems)}">
        <h3>No recipes added to shopping list yet.</h3>
    </div>

</div>
<script type="text/javascript">
            var csrfHeaderName = "[[${_csrf.headerName}]]";
            var csrfValue = "[[${_csrf.token}]]";
</script>
<!--<script th:src="@{/js/quantityControl.js}"></script>-->
<script th:src="@{/js/updateShoppingList.js}"></script>
</body>
</html>